@font-face {
    font-family: 'MyFont';
    src: url("./my-font.woff2") format('woff2'),
         url("./my-font2.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
}


.hello {
    color: red;
    background: url("./webpack.png");
    font-family: 'MyFont';
}
